force-app/main/default/flows/ExpApp_Update_Spend_Control.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_New_Spend_Control</name>
        <label>Assign New Spend Control</label>
        <locationX>526</locationX>
        <locationY>280</locationY>
        <assignmentItems>
            <assignToReference>CurrentSpendControlVariable.ExpApp_Spend_Control__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_new_spend_control_limit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Spend_Control</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Update Spend Control {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Spend Control</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Current_Spend_Control</name>
        <label>Get Current Spend Control</label>
        <locationX>147</locationX>
        <locationY>112</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Spend_Control</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SC-0001</stringValue>
            </value>
        </filters>
        <object>ExpApp_Expense_Spend_Control__c</object>
        <outputReference>CurrentSpendControlVariable</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ExpApp_Spend_Control__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Spend_Control</name>
        <label>Update Spend Control</label>
        <locationX>666</locationX>
        <locationY>342</locationY>
        <connector>
            <targetReference>Spend_Control_Success_Messages</targetReference>
        </connector>
        <inputReference>CurrentSpendControlVariable</inputReference>
    </recordUpdates>
    <screens>
        <name>Change_Spend_Control</name>
        <label>Change Spend Control</label>
        <locationX>398</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_New_Spend_Control</targetReference>
        </connector>
        <fields>
            <name>Enter_new_spend_control_limit</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>CurrentSpendControlVariable.ExpApp_Spend_Control__c</elementReference>
            </defaultValue>
            <fieldText>Enter new spend control limit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Spend_Control</name>
        <label>Spend Control</label>
        <locationX>282</locationX>
        <locationY>199</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Change_Spend_Control</targetReference>
        </connector>
        <fields>
            <name>Current_Spend_Control_Display_Text</name>
            <fieldText>&lt;p&gt;Your current spend control limit is: {!CurrentSpendControlVariable.ExpApp_Spend_Control__c}&lt;/p&gt;&lt;p&gt;Click &lt;b&gt;Next &lt;/b&gt;to change it.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Spend_Control_Success_Messages</name>
        <label>Spend Control Success Messages</label>
        <locationX>828</locationX>
        <locationY>410</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Spend_Control_Success_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(5, 182, 14); font-size: 14px;&quot;&gt;Wohoo!&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(5, 182, 14); font-size: 14px;&quot;&gt;Spend Control Successfully updated.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Get_Current_Spend_Control</startElementReference>
    <status>Active</status>
    <variables>
        <name>CurrentSpendControl</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CurrentSpendControlVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ExpApp_Expense_Spend_Control__c</objectType>
    </variables>
    <variables>
        <name>Spend_Control_Data</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ExpApp_Expense_Spend_Control__c</objectType>
    </variables>
</Flow>
